#search{
  position: absolute;
  z-index: 1234;
  width: 200px;
  top: 10px;
  left: 50px;
}

#searchbar{
  display:inline-block;
  position: relative;
}

#searchresult{
  display: none;
  position: absolute;
  overflow: scroll;
  left: -50px;
  cursor:pointer;
  max-height: 95vh;
}

#searchresult::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#searchbackground{
  display: none;
  position: absolute;
  z-index: 9;
  background-color: white;
  top:-50px;
  left: -50px;
  height: 200vh;
  width: 300px;
}